@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: "Space Grotesk", sans-serif;
  --font-serif: "Space Grotesk", sans-serif;
  --font-mono: "Space Mono", monospace;
}

:root {
  --ui-container: var(--container-3xl);
}

/* Better font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Optimize Inter for better number alignment */
.tabular-nums {
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
}
